* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #32593E;
    color: #DEE4E4;
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color:#E3C646;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #569671;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: #DEE4E4;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }

  .greenContainer{
    background-color: gray;
    border-radius: 4px;
  }
  .greenArea{
      background-color: #569671;
      border-radius: 4px;
      text-align: center;
      color: #DEE4E4;
  }

  .wrap{
      background-color: #dfdfdf;
      border-radius: 4px;
  }

  .divInventory{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .divItem{
      width: 100px;
      background-color: #569671;
      border-radius: 8px;
      text-align: center;
      color: #DEE4E4;
      margin: 2px;
  }

  .menu, .divMenu, .menuCity{
     
      display: flex;
      flex-direction: column;
  }

  .parksInventory{
      width: 100%;
  }

  .btnEdit {
    background-color: #E3C646; 
    border-radius: 8px;
    border: none;
    color: #DEE4E4;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .buttonsItem, .buttons{
      display: flex;
      margin: 2px;
      flex-flow: row nowrap;
      justify-content: space space-evenly;
  }
  