.divCity{
    display: flex;
    flex-direction: column;
    height: 900px;
}

div{
    margin: 2%;
    height: max-content;
    border: 5px solid black;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
    width: 100%;
}

.divContent{
    display: flex;
    flex-direction: row;
    height: 80%;
    
}

.divMenu{

}

.divParks{
    height: 80%;
}

.divPark{

}

.labAddRemove{
    width: 100%;
    text-align: center;
}


  .btnRemove{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  dl {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    position: relative;
    padding: 20px;
  }
  
  dt {
    align-self: flex-start;
    width: 100%;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 130px;
  }
  
  .text {
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 40px;
    width: 130px;
    background-color: white;
    position: absolute;
    left: 0;
    justify-content: flex-end;
  }
  
  .percentage {
    font-size: .8em;
    line-height: 1;
    text-transform: uppercase;
    height: 40px;
    margin-left: 130px;
    background: salmon;
  );


